<div class="content" role="main">
  <div><strong>SPA web app</strong></div>
  <div>Input subject</div>
  <div><input style="width: 50%;" type="text" [formControl]="titleField" /></div>
  <P></P>
  <div>Input Data</div>
  <div><textarea style="width: 50%;" rows="12" [formControl]="textField"></textarea></div>
  <p></p>
  <div>Output:</div>
  <div><textarea style="width: 50%;" rows="12" [formControl]="resultField"></textarea></div>
  <div><button (click)="onLogin()">Log in (not implemented)</button></div>
  <div><button (click)="onClick()">Call backend (/jsonapi/subjectData)</button></div>
  <div><button (click)="onSync()">Sync test (local sync await test)</button></div>
  <div>
    <button (click)="onClickStorage(0)">Storage upload</button>
    <button (click)="onClickStorage(1)">Storage list</button>
    <button (click)="onClickStorage(2)">Storage delete</button>
    <button (click)="onClickStorage(3)">Storage download</button>
  </div>
</div>

<router-outlet></router-outlet>
